@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
}

.page-text-container {
  width: 1060px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.navigation-logo {
  margin-left: 13px;
  padding: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  height: 66px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 500px;
  gap: 34px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.navigation-link {
  display: block;
  padding: 16px 0;
  color: #000000;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
}

.navigation-item-user {
  position: relative;
  min-width: 21px;
  min-height: 33px;
}

.navigation-user .navigation-item-user:nth-child(1) .navigation-link {
  padding: 24px 10px;
  width: 18px;
  height: 18px;
  background-image: url('../images/icons/search.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item-user:nth-child(2) .navigation-link {
  padding: 24px 10px;
  width: 18px;
  height: 18px;
  background-image: url('../images/icons/heart.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.user-like {
  position: absolute;
  font-size: 10px;
  line-height: 13px;
  bottom: 31px;
  padding: 4px;
  left: 22px;
  background-color: #7DB54F;
  border-radius: 50%;
  color: #ffffff;
}

.navigation-link-header {
  padding: 9px 15px 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

.navigation-link-header:hover {
  background-color: #615048;
}

.navigation-link-header:focus {
  background-color: #615048;
}

.navigation-link-header:active {
  color: rgba(255, 255, 255, 0.3);
}

.welcome-wrapper {
  padding: 51px 0 83px 0;
  background-image: url("../images/background/index-bg.jpg");
  background-size: 100% 485px;
  background-repeat: no-repeat;
}

.welcome-wrapper::before {
  position: absolute;
  content: "";
  width: 1200px;
  height: 57px;
  left: 150px;
  top: 494px;
  background-image: url('../images/icons/vector.svg');
}

.welcome-sedona {
  display: block;
  margin: 0 auto;
}

.welcome-container {
  padding: 63px 273px 90px 273px;
}

.welcome-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.welcome-text {
  width: 655px;
  margin: 31px 0 0 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px 80px;
}

.advantages-number {
  margin: 0;
}

.advantages-text {
  margin: 0;
}

.icon-housing {
  background-image: url('../images/icons/housing.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 72px;
}

.icon-eating {
  background-image: url('../images/icons/eating.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 72px;
}

.icon-souvenir {
  background-image: url('../images/icons/souvenir.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 72px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 85px;
  gap: 30px;
  width: 400px;
}

.advantages-item-blue {
  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-grey {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-dark-grey {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  margin: 0;
  width: 182px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.footer-social {
  display: flex;
}

.interested {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 592px;
  padding: 91px 304px 93px 304px;
}

.interested-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.interested-text {
  margin: 29px 0 0 0;
  font-size: 22px;
  line-height: 26px;
}

.interested-link {
  width: 544px;
  margin-top: 56px;
  padding: 12px 15px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

.interested-link:hover {
  background-color: #615048;
}

.interested-link:focus {
  background-color: #615048;
}

.interested-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 89px 200px;
  color: #ffffff;
  background-size: 100%;
  background-color: #000000;
  background-image: url("../images/background/view-sedona.png");
  background-repeat: no-repeat;
}

.footer-mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 89px 200px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 35px;
}

.vkontakte {
  fill: #83B3D3;
}

.vkontakte:hover {
  fill: #68A2CA;
}

.vkontakte:focus {
  fill: #68A2CA;
}

.vkontakte:active {
  fill: rgba(104, 162, 202, 0.3);
}

.telegrams {
  fill: #83B3D3;
}

.telegrams:hover {
  fill: #68A2CA;
}

.telegrams:focus {
  fill: #68A2CA;
}

.telegrams:active {
  fill: rgba(104, 162, 202, 0.3);
}

.youtube {
  fill: #83B3D3;
}

.youtube:hover {
  fill: #68A2CA;
}

.youtube:focus {
  fill: #68A2CA;
}

.youtube:active {
  fill: rgba(104, 162, 202, 0.3);
}

.logo-htmlacademy {
  fill: #000000;
}

.logo-htmlacademy:hover {
  fill: #756157;
}

.logo-htmlacademy:focus {
  fill: #756157;
}

.logo-htmlacademy:active {
  fill: rgba(117, 97, 87, 0.3);
}

.footer-item {
  display: flex;
  gap: 27px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.footer-text {
  margin: 29px 0 0 0;
  width: 475px;
  font-size: 22px;
  line-height: 26px;
}

.footer-phone {
  color: #000000;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.email-button {
  display: flex;
  margin-top: 56px;
}

.email {
  padding: 22px;
  min-width: 578px;
  min-height: 14px;
  background: #f2f2f2;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.button-email {
  padding: 12px 15px;
  height: 60px;
  width: 200px;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  border: none;
  border-radius: 0px 10px 10px 0px;
}

.button-email:hover {
  background-color: #68A2CA;
}

.button-email:focus {
  background-color: #68A2CA;
}

.button-email:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter {
  padding: 35px 70px;
  color: #ffffff;
  background-size: 100%;
  background-color: #000000;
  background-image: url("../images/background/view-mountain-sedona.png");
  background-repeat: no-repeat;
}

.filter-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.filter-link {
  color: #ffffff;
  text-decoration: none;
}

.filter-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.filter-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.icon-vector-row {
  background-image: url('../images/icons/arow.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 5px;
  height: 8px;
}

.icon-home {
  fill: #ffffff;
}

.icon-home:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.icon-home:focus {
  fill: rgba(255, 255, 255, 0.6);
}

.icon-home:active {
  fill: rgba(255, 255, 255, 0.3);
}

.filter-catalog {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-top: 40px;
}

.filter-catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-price {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-catalog-group {
  margin: 0;
  padding: 0;
  border: 0 none;
}

.button-two {
  display: flex;
  flex-direction: column;
}

.filter-title {
  margin: 0;
  text-align: start;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.filter-link {
  font-size: 16px;
  line-height: 21px;
}

.filter-catalog-title {
  padding: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.price {
  display: flex;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.price-one {
  border-right: 2px solid #ffffff;
}

.price-two {
  padding: 14px 14px 13px 17px;
}

.price-number {
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.price-right {
  opacity: 0.3;
}

.price-left {
  opacity: 0.3;
}

.price-range {
  margin-top: 20px;
  width: 288px;
}

.button-apply {
  margin-top: auto;
  padding: 14px 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.button-apply:hover {
  background-color: #68A2CA;
}

.button-apply:focus {
  background-color: #68A2CA;
}

.button-apply:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset {
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.sorting-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 60px 0;
}

.product-card {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
  padding: 20px;
  text-align: left;
}

.product-card-buttons {
  display: flex;
  justify-content: space-between;
}

.product-card-price {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.product-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 18px;
  padding: 0;
  list-style-type: none;
}

.button {
  padding: 9px 15px 8px 15px;
  color: #000000;
  text-decoration: none;
  border-radius: 4px;
}

.sorting-button .button:hover {
  border: 2px solid #000000;
}

.sorting-button .button:focus {
  border: 2px solid #68A2CA;
}

.sorting-button .button:active {
  border: 2px solid #000000;
}

.product-list-star {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.rating-star {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sorting-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  min-width: 290px;
  padding: 14px 65px 14px 20px;
}

.sorting-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.sorting-button .button {
  display: flex;
  align-items: center;
  border: 2px solid #e5e5e5;
  padding: 17px 16px;
}

.sorting-button .button-ligh {
  border: 2px solid #000000;
}

.product-card-link {
  grid-column: 1/-1;
  color: #000000;
  text-decoration: none;
}

.product-card-title {
  margin: 16px 0 0 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
}

.product-card-button:hover {
  background-color: #615048;
}

.product-card-button:focus {
  background-color: #615048;
}

.product-card-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button-blu {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
}

.product-card-button-blu:hover {
  background-color: #68A2CA;
}

.product-card-button-blu:focus {
  background-color: #68A2CA;
}

.product-card-button-blu:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button-green {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #7db54f;
}

.product-card-button-green:hover {
  background-color: #6C9E42;
}

.product-card-button-green:focus {
  background-color: #6C9E42;
}

.product-card-button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7DB54F;
}

.product-card-rating {
  padding: 9px 15px 8px 15px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background: #f2f2f2;
  border-radius: 4px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 96px;
}

.pagination-list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  padding: 12px 24px;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background: #82b3d3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  background: #f2f2f2;
}

.pagination-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-hotel {
  padding: 14px 98px 14px 20px;
}

.pagination-user-page {
  margin-right: 51px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
